.organisationCard {
  margin-bottom: 3px;
  max-width: 980px;
  min-height: 147px;
  display: flex;
  font-size: 18px;
  /* line-height: 2.5; */
  color: #787878;
  background-color: #ffffff;
}
.organisationCard__left {
  flex: 1 1 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.organisationCard__center {
  flex: 1 1 580px;
  display: flex;
  flex-direction: column;
}
.organisationCard__right {
  flex: 1 1 250px;
}
.btn {
  padding: 3px 5px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  background-color: #4a2b3a;
}
