body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.AppContent{
  /* width: 800px;*/
  height: 100vh;
  background: #ebebeb;
  margin: 0 auto;
  display: flex;
  border:#45303c solid 1px;
}
.menu{
  width: 20%;
  background: #45303c;
}
